@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.js-animation h2, .js-animation h3, .js-animation p {
  -webkit-transform: translate(0px, 50px);
          transform: translate(0px, 50px);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.act_scroll.js-animation h2, .act_scroll.js-animation h3, .act_scroll.js-animation p {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.act_scroll.js-animation p {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

h1 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 48px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #192252;
}

h2 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #192252;
}

h3 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: #000000;
}

button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0E1734;
  border-radius: 4px;
  color: #ffffff;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

button:hover {
  -webkit-box-shadow: 0 0 5px #0E1734;
          box-shadow: 0 0 5px #0E1734;
  background-color: #ffffff;
  color: #0E1734;
}

p {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #848FAC;
}

.wrapper {
  min-width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.conteiner {
  overflow: hidden;
  margin: 0 auto;
  max-width: 1260px;
  padding: 0 30px;
}

.text {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #848FAC;
}

@media (max-width: 768px) {
  h1 {
    font-size: 38px;
  }
}

.header {
  height: 120px;
}

.header__burger-block {
  display: none;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 32px;
  line-height: 120px;
  color: #192252;
}

.header__menu {
  margin: auto 30px;
}

.header__menu ul li {
  display: inline-block;
}

.header__menu ul li:not(:last-child) {
  margin: 0 32px 0 0;
}

.header__menu ul li a {
  display: block;
  height: 50px;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 50px;
  color: #192252;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header__menu ul li a:hover {
  text-shadow: 0 0 1px #192252;
}

.header__button {
  width: 121px;
  height: 47px;
  margin: auto 0;
}

@media (max-width: 768px) {
  body.no-scroll {
    overflow: hidden;
  }
  .header {
    height: 0;
  }
  .header__burger-block {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    width: 100%;
    height: 70px;
    z-index: 6;
  }
  .header__logo-burger {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 32px;
    line-height: 70px;
    color: #192252;
    margin: 0 0 0 30px;
  }
  .header__burger {
    display: block;
    position: fixed;
    top: 20px;
    right: 30px;
    width: 40px;
    height: 30px;
  }
  .header__burger:before,
  .header__burger:after {
    content: '';
    position: absolute;
    left: 0;
    width: 40px;
    height: 5px;
    background: #192252;
    border-radius: 3px;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger span {
    position: absolute;
    top: 12px;
    left: 0;
    width: 40px;
    height: 5px;
    background: #192252;
    border-radius: 3px;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .active.header__burger:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin: 12px 0 0 0;
  }
  .active.header__burger:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin: 0 0 12px 0;
  }
  .active.header__burger span {
    opacity: 0;
  }
  .header__navigation {
    overflow: auto;
    background-color: #ffffff;
    display: block;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    z-index: 5;
  }
  .active.header__navigation {
    right: 0;
  }
  .header__logo {
    display: none;
  }
  .header__menu {
    margin: 70px 0 0 30px;
  }
  .header__menu ul li {
    display: block;
  }
  .header__menu ul li a {
    line-height: 19px;
    height: 40px;
  }
  .header__button {
    margin: 0 0 0 30px;
  }
}

.hero {
  margin: 80px 0 100px 0;
}

.hero__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__colomn {
  width: 50%;
}

.hero__colomn h1 {
  margin: 135px 24px 24px 0;
  max-width: 587px;
  -webkit-transform: translate(0px, 100px);
          transform: translate(0px, 100px);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.act_scroll.hero__colomn h1 {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
  -webkit-transition: all 0.8s ease 0.3s;
  transition: all 0.8s ease 0.3s;
}

.hero__colomn p {
  max-width: 485px;
  margin: 0 24px 0 0;
  -webkit-transform: translate(0px, 100px);
          transform: translate(0px, 100px);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.act_scroll.hero__colomn p {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
  -webkit-transition: all 0.8s ease 0.8s;
  transition: all 0.8s ease 0.8s;
}

.hero__colomn button {
  margin: 32px 0 0 0;
  width: 156px;
  height: 51px;
}

.hero__pictyre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.hero__pictyre img {
  max-width: 30%;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.act_scroll.hero__pictyre img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.8s ease 0.3s;
  transition: all 0.8s ease 0.3s;
}

.hero__pictyre img:nth-child(2) {
  margin: 14.2% 5% 0 5%;
}

@media (max-width: 1024px) {
  .hero__colomn h1 {
    margin: 20px 0 24px 0;
  }
}

@media (max-width: 768px) {
  .hero {
    margin: 80px 0 20px 0;
  }
  .hero__colomn {
    width: 100%;
  }
  .hero__colomn:last-child {
    display: none;
  }
  .hero__colomn h1 {
    max-width: 100%;
    text-align: center;
  }
  .hero__colomn p {
    max-width: 100%;
    margin: 0;
  }
}

.about-us {
  margin: 0 0 100px 0;
}

.about-us__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-us__colomn:first-child {
  margin: 0 126px 0 0;
}

.about-us__colomn img {
  max-width: 100%;
}

.about-us__colomn h2 {
  margin: 105px 0 24px 0;
  max-width: 690px;
}

.about-us__colomn p {
  max-width: 584px;
  margin: 0 0 16px 0;
}

.about-us__colomn button {
  margin: 32px 0 0 0;
  width: 151px;
  height: 51px;
}

@media (max-width: 1024px) {
  .about-us__colomn:first-child {
    margin: 0 50px 0 0;
  }
  .about-us__colomn h2 {
    margin: 20px 0 24px 0;
  }
}

@media (max-width: 768px) {
  .about-us {
    margin: 20px 0;
  }
  .about-us__colomn:first-child {
    display: none;
  }
  .about-us__colomn h2 {
    text-align: center;
  }
  .about-us__colomn p {
    max-width: 100%;
  }
}

.benefit {
  margin: 0 0 100px 0;
}

.benefit__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 32px 0;
}

.benefit__colomn:not(:last-child) {
  margin: 0 126px 0 0;
}

.benefit__colomn h2 {
  margin: 193px 0 24px 0;
}

.benefit__colomn p {
  max-width: 584px;
}

.benefit__colomn img {
  max-width: 100%;
}

@media (max-width: 1024px) {
  .benefit__colomn:not(:last-child) {
    margin: 0 80px 0 0;
  }
  .benefit__colomn h2 {
    margin: 30px 0 24px 0;
  }
}

@media (max-width: 768px) {
  .benefit {
    margin: 0 0 30px 0;
  }
  .benefit__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  .benefit__row:last-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .benefit__colomn:not(:last-child) {
    margin: 0;
  }
  .benefit__colomn h2 {
    text-align: center;
  }
  .benefit__colomn p {
    max-width: 100%;
    margin: 0 0 30px 0;
  }
  .benefit__colomn img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
}

.reservation {
  margin: 0 0 100px 0;
  width: 100%;
}

.reservation__head {
  text-align: center;
}

.reservation__head p {
  margin: 24px auto 32px auto;
  max-width: 588px;
}

.reservation__head button {
  width: 165px;
  height: 51px;
  margin: 0 auto 104px auto;
}

.reservation__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reservation__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.reservation__column:not(:last-child) {
  margin: 0 24px 0 0;
}

.reservation__column img {
  max-width: 100%;
  margin: 0 auto;
}

.reservation__column h3 {
  margin: 32px 0 16px 0;
}

.reservation__column p {
  max-width: 384px;
  margin: 0 0 32px 0;
}

.reservation__column a {
  margin: auto 0 0 0;
  font-family: Inter;
  font-size: 18px;
  line-height: 150%;
  color: #424F7B;
}

.reservation__column a:after {
  content: '';
  background: url("/img/10.svg") no-repeat;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 0 -9px 14px;
}

@media (max-width: 768px) {
  .reservation {
    margin: 0 0 30px 0;
  }
  .reservation__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .reservation__column:not(:last-child) {
    margin: 0;
  }
  .reservation__column {
    margin: 0 0 50px 0;
  }
  .reservation__column h3 {
    text-align: center;
  }
  .reservation__column p {
    max-width: 100%;
  }
  .reservation__column a {
    margin: 0 0 20px 0;
  }
}

.room {
  margin: 0 0 80px 0;
}

.room__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.room__column:not(:last-child) {
  margin: 0 50px 0 0;
}

.room__column h2 {
  max-width: 407px;
  margin: 12px 0 24px 0;
}

.room__column > p {
  max-width: 384px;
}

.room__subtitle p {
  margin: 82px 0 0 0;
  font-weight: 500;
  font-size: 16px;
}

.room__row-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 32px 0 0 0;
}

.room__row-button button {
  width: 148px;
  height: 51px;
  margin: 0 24px 0 0;
}

.room__row-button a {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 51px;
  color: #0E1734;
}

.room__list {
  margin: 20px 0 24px 0;
  padding: 32px 36px 8px 36px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 15px rgba(14, 23, 52, 0.2);
          box-shadow: 0 0 15px rgba(14, 23, 52, 0.2);
  z-index: 4;
}

.room__list-title {
  margin: 0 0 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.room__list-title h3 {
  color: #424F7B;
}

.room__list-text {
  font-family: Inter;
  font-size: 18px;
  line-height: 150%;
  color: #848FAC;
  max-width: 516px;
  max-height: 0;
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  z-index: 1;
}

.room__list-arrow {
  position: relative;
  width: 40px;
  height: 40px;
  background: #FFECE2;
  border-radius: 50%;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.room__list-arrow:before,
.room__list-arrow::after {
  content: '';
  position: absolute;
  top: 20px;
  display: block;
  width: 20px;
  height: 3px;
  background: #FF620A;
  z-index: 2;
}

.room__list-arrow:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 4px;
}

.room__list-arrow::after {
  right: 4px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.active > .room__list-title > .room__list-arrow {
  background: #FF620A;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.active > .room__list-title > .room__list-arrow:before,
.active > .room__list-title > .room__list-arrow::after {
  background: #ffffff;
}

.active > .room__list-text {
  display: block;
  max-height: 200px;
  opacity: 1;
}

@media (max-width: 1024px) {
  .room__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .room__column {
    text-align: center;
  }
  .room__column:not(:last-child) {
    margin: 0;
  }
  .room__subtitle p {
    margin: 0;
  }
  .room__column h2 {
    max-width: 100%;
    text-align: center;
  }
  .room__column > p {
    max-width: 100%;
    text-align: center;
  }
  .room__row-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 32px 0 0 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .room__subtitle p {
    margin: 0;
  }
  .room__row-button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .room__row-button button {
    margin: 0 auto;
  }
  .room__list-title {
    display: block;
  }
  .room__list-arrow {
    display: none;
  }
  .room__list-text {
    display: none;
  }
}

.testimoni {
  margin: 0 0 100px 0;
}

.swiper {
  max-width: 92vw;
  max-height: 100%;
}

.testimoni__card h2 {
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
}

.testimoni__card img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 62px auto 44px auto;
  border-radius: 50%;
}

.testimoni__card p {
  text-align: center;
  margin: 0 auto;
  max-width: 100%;
}

.testimoni__name {
  max-width: 100%;
  margin: 40px auto 34px auto;
  font-family: Inter;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #192252;
}

.swiper-pagination-bullet {
  background: #fab047;
  width: 12px;
  height: 12px;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.5);
  right: 10px;
  padding: 30px;
  margin: -50px 0 0 0;
  color: #fab047;
  fill: #fab047;
  stroke: #fab047;
}

.swiper-pagination-bullet-active-next,
.swiper-pagination-bullet-active-next-next,
.swiper-pagination-bullet-active-prev,
.swiper-pagination-bullet-active-prev-prev {
  width: 12px;
  height: 12px;
  background: #fab047;
}

@media (max-width: 768px) {
  .testimoni {
    margin: 0 0 80px 0;
  }
  .swiper {
    max-width: 80vw;
  }
}

.footer {
  background: #0B265A;
}

.footer__row {
  padding: 120px 0 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__links ul {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}

.footer__links ul:not(:last-child) {
  margin: 0 130px 0 0;
}

.footer__links ul li {
  margin: 0 0 24px 0;
}

.footer__links ul li a {
  font-weight: 400;
  letter-spacing: 0;
  color: #D9DBDE;
}

.footer__logo {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: -0.01em;
  color: #FFFFFF;
}

.footer__private {
  margin: 13px 0 36px 0;
  max-width: 186px;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #D9DBDE;
}

.footer__row-social img {
  margin: 0 35px 23px 0;
}

@media (max-width: 850px) {
  .footer__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 650px) {
  .footer__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__links ul:not(:last-child) {
    margin: 0;
  }
  .footer__row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__column {
    width: 200px;
  }
}
/*# sourceMappingURL=style.css.map */